*{
    padding: 0;
    margin: 0;
}

.goodsBox{
    width: 100%;
    height: 400px;
}

.btnBox{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
}

.btnBox button{
    width: 150px;
    height: 40px;
    background-color: beige;
}

.product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid lightblue;
    overflow: hidden;
}

.imgBox{
    width: 250px;
    height: 200px;
    border-bottom: 1px solid lightblue;
}

.imgBox img{
    width: 100%;
    height: 100%;
}

.textBox{
    padding: 20px;
}

.card p{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}

.card button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: lightblue;
    font-size: 16px;
    font-weight: 600;
    float: right;
}