*{
    padding: 0;
    margin: 0;
}

input{
    display: none;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}

label{
    display: block;
}

.headarea{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 1320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    line-height: 70px;
}

nav{
    width: 800px;
    height: 70px;
    display: flex;
    justify-content: center;
}

nav ul{
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-style: 18px;
    font-weight: 900;
    transition: all 0.5s;
    border-radius: 10px;
}

nav ul li:hover{
    background-color: black;
    color: aliceblue;
}

.login{
    width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login button{
    width: 130px;
    height: 40px;
    border: none;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    font-weight: 900;

}

.back{
    width: 100%;
    height: 2500px;
    position: absolute;
}

.front{
    width: 1320px;
    height: 2500px;
    position: relative;
    background-color: aliceblue;
    left: 50%;
    transform: translate(-50%);
}

.window{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.window ul{
    width: 500%;
    height: 100%;
    display: flex;
    position: relative;
    animation: 10s slide infinite linear;
}

.window li{
    width: 1320px;
    height: 100%;
}

@keyframes slide{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

.content{
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information{
    width: 500px;
    height: 550px;
    background-color: lightblue;
}

.card{
    width: 100%;
    height: 100%;
}

.card img{
    width: 100%;
    height: 250px;
    background-color: antiquewhite;
}

.textBox{
    padding: 20px;
}

.textBox p{
    font-size: 18px;
}

.textBox button{
    margin-top: 10px;
    padding: 5px;
}

.calender{
    width: 510px;
    height: 550px;
    background-color: lightblue;
}

.calender h2{
    padding: 10px;
    text-align: center;
}

.week{
    display: flex;
    justify-content: center;
}

.week li{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.day{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.day li{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.none{
    color: gray;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.modalBack{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 999;
}

.modalBox{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}

.modalBox h1{
    text-align: center;
    line-height: 300px;
}

#calender:checked~.modalBack{
    visibility: visible;
    opacity: 1;
}

.footarea{
    width: 100%;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
}

footer{
    width: 1320px;
    height: 100%;
    display: flex;
}

.flogo{
    width: 200px;
    height: 100%;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy{
    width: 520px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.mail{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}