*{
    padding: 0;
    margin: 0;
}

.chartH{
    width: 450px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart{
    margin-top: 25px;
    width: 450px;
    height: 550px;
    border: 1px black solid;
}

.bar {
    fill: steelblue;
    transition: height 0.8s;
}