*{
    padding: 0;
    margin: 0;
}

.bar, .bar2{
    transition: all 1s;
}

.chartarea{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chartH{
    width: 450px;
    height: 600px;
    display: none;
}

.chart{
    width: 450px;
    height: 600px;
    border: 1px solid black;
}

.league{
    width: 450px;
    display: flex;
}

.league div{
    width: 150px;
    text-align: center;
}

.chartW{
    display: none;
    width: 700px;
    height: 450px;
}

.chart2{
    width: 700px;
    height: 450px;
    border: 1px solid black;
}