*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.btnarea{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.logo{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 22px;
}

.btnBox{
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnBox button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    background-color: cornflowerblue;
}

.box{
    width: 220px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    background-color: cornflowerblue;
}

.back{
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.area{
    overflow: hidden;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 2px black solid;
    z-index: 2;
    border-radius: 10px;
}

.buttonBox{
    width: 100%;
    height: 100px;
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonBox button{
    border-radius: 10px;
    border: none;
    font-weight: 700;
    padding: 5px;
    margin: 5px;
    color: aliceblue;
    background-color: cornflowerblue;
}

.imgContainer{
    display: inline-block;
    position: relative;
}

.text-on-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.textContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

.textContainer textarea{
    width: 200px;
    height: 100px;
    resize: none;
    border-radius: 10px;
}

#addTextBtn{
    width: 80px;
    height: 30px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.best{
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 1320px;
}

.best h2{
    padding: 5px;
}

.bestBox{
    width: 1000px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-around;
}

.product{
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 1320px;
    flex-wrap: wrap;
    display: flex;
}

.card{
    padding: 10px;
    width: 280px;
    height: 400px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    margin: 5px;
}

.card img{
    width: 100%;
    height: 200px;
    border:  1px solid black;
    border-radius: 10px;
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
    font-weight: 700;
}

.card button{
    margin: 10px;
    float: right;
    padding: 5px;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 18px;
}