*{
    padding: 0;
    margin: 0;
}

input{
    display: none;
}

html, body{
    height: 100vh;
}

ul li{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

label{
    display: block;
    cursor: pointer;
}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    z-index: 5;
}

.headArea{
    width: 1320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 320px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 26px;
    font-weight: 900;
    z-index: 1;
}

nav{
    width: 1000px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    width: 150px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    transition: all 0.5s;
    font-weight: 900;
}

nav ul li:hover{
    border-bottom: 2px solid black;
}

.login{
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login button{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    font-weight: 900;
    border-radius: 15px;   
    background-color: black;
    color: aliceblue;
}

.back{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 1000px;
}

.front{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 70px;
    width: 1320px;
    height: 2000px;
    background-color: aliceblue;
}

.window{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.window ul{
    width: 500%;
    height: 100%;
    display: flex;
    position: relative;
    animation: 10s infinite linear slide;
}

.window li{
    position: relative;
    width: 1320px;
    height: 100%;
}

.window li img{
    width: 100%;
    height: 100%;
}

.window li div{
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 600px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    background: rgba(0, 0, 0,0.5);
    z-index: 1;
}

@keyframes slide{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -1320px;
    }

    45%{
        left: -1320px;
    }

    50%{
        left: -2640px;
    }

    70%{
        left: -2640px;
    }

    75%{
        left: -3960px;
    }

    95%{
        left: -3960px;
    }

    100%{
        left: -5280px;
    }
}

section{
    width: 1320px;
    height: 500px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information{
    width: 420px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
}

.information img{
    width: 100%;
    height: 200px;
}

.information p{
    text-align: center;
    padding: 10px;
}

.information button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 5px;
    margin-left: 100px;
}

.calender{
    width: 420px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 15px;
}

.calender p{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}

.calender li:hover{
    background-color: lightyellow;
}

.week{
    width: 100%;
    height: 70px;
    display: flex;
}

.week li{
    width: 60px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 15px;
    transition: all 0.4s;
}

.day{
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.day li{
    width: 60px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 15px;
    transition: all 0.4s;
}

.redday{
    color: red;
}

.blueday{
    color: blue;
}

.none{
    color: gray;
}

.calenderback{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.calenderBox{
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calenderBox label{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
    color: aliceblue;
}

.calenderBox h1{
    text-align: center;
    line-height: 300px;
}

#calender:checked~.calenderback{
    visibility: visible;
    opacity: 1;
}

.ranking{
    width: 100%;
    height: 500px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.league{
    width: 420px;
    height:  450px;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

.leaguearea{
    width: 100%;
    height: 50px;
    display: flex;
}

.leaguearea > label{
    width: 140px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
}

.rank{
    width: 100%;
    height: 50px;
}

.rank div{
    position: absolute;
    width: 100%;
    height: 50px;
    display: none;
}

#league1:checked~.nrank,
#league2:checked~.wrank,
#league3:checked~.drank{
    display: flex;
}

.rank div > label{
    width: 210px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
}

.modal{
    position: absolute;
    width: 420px;
    height: 350px;
    display: none;
    text-align: center;
    line-height: 300px;
    font-size: 48px;
    font-weight: 900;
}

#modal1:checked~.modalBox1,
#modal2:checked~.modalBox2,
#modal3:checked~.modalBox3,
#modal4:checked~.modalBox4,
#modal5:checked~.modalBox5,
#modal6:checked~.modalBox6{
    display: block;
}

.accodion{
    width: 420px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 10px;
}

footer{
    position: relative;
    top: 70px;
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footarea{
    width: 1320px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.flogo{
    width: 320px;
    height: 150px;
    line-height: 150px;
    font-size: 26px;
    font-weight: 900;
    z-index: 1;
}

.copy{
    width: 500px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.sns{
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}